<div class="modal-backdrop"></div>
We appreciate your willingness to help our Chapter financially. Donations go towards strengthening the House, both physically and metaphorically. Previous donations have gone to things like a TV, letters and a starshield for the chapter room.
%br
%br
We accept donations via credit card, PayPal or check.
%br
%br
%div
  %div.heading
    Credit Card and Paypal
  We accept donations by Visa, Mastercard, American Express, Discover, Diner's Club or JCB credit cards, as well as PayPal.
  %br
  %br
  See the table below for our current fundraising targets.
%br
%div
  %div.heading
    Check
  Note: If you'd like to donate to a specific fundraising target (see table below), include the ID in the memo field of your check. Otherwise, the use of the donation will be up to the chapter's discretion.
  %br
  %br
  Please make your checks payable to Pi Kappa Phi and mail them to:
  %div.monospace
    Attn: Kevin Cohn
    %br
    Pi Kappa Phi Upsilon Chapter
    %br
    306 E. Gregory Drive
    %br
    Champaign, IL 61820
%br
%div
  %div.heading
    Current Fundraising Targets

/ In the future:
/ Store in DB or setup sick service with an API, then iterate through JSON objects
%table.table.table-striped
  %thead
    %tr
      %th
        ID
      %th
        Name
      %th
        Description
      %th
        Proposal
      %th
        Donate
      %th
        %center
          Status
  %tbody
    -for project in projects["Projects"]
      %tr
        %td
          = project["id"]
        %td
          = project["name"]
        %td
          = project["short-description"]
        %td
          - if project["proposal-link"].length > 0
            %a{:href=>project["proposal-link"]}
              (PDF)
          - else
            N/A
        %td
          %a{:onclick=>"modal('#{project.to_json}')", :style=>"cursor:pointer;"}
            Donate
        %td.progbar
          - if project["total-price"].to_i > 0
            .progress
              .bar.bar-success{:style=>"width: #{project["percent"]}%"}
              .percent
                ="#{project["percent"]}%"
          - else 
            %center
              N/A